/* .Login {
    background-color: aqua;
} */

.LoginCancel {
    background-color: #c13939;
}

.CenterDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.UnderLine {
    text-decoration: underline;
}