/* .Login {
    background-color: aqua;
} */

.LoginCancel {
    background-color: #c13939;
}

.CenterDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.UnderLine {
    text-decoration: underline;
}

/* This ensures the particles do not block clicks on the form. */
.pointer-events-none {
    pointer-events: none !important;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none !important;
}
  