.AllUsers {
    background-color: #2A5BAF  !important;
}

.AllUsersCancel {
    background-color: red  !important;
}

.CenterDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.LeftDiv {
    display: flex;
    justify-content: left;
    text-align: center;
    width: 100%;
}

.UnderLine {
    text-decoration: underline;
}

.wrapperbody {
    background-color: #81d8d0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: #005f6a;
}

.BtnTopUsers {
    margin-top: 10px  !important;
}

.BtnLoadUsers {
    background-color: blue  !important;
    color: whitesmoke  !important;
}

.BtnEditUser {
    background-color: blue  !important;
    color: whitesmoke  !important;
}

.BtnUpdateUser {
    background-color: rgb(66, 87, 35)  !important;
    color: whitesmoke  !important;
}

.BtnUpdateMarginLeft {
    margin-left: 515px  !important;
}

.BtnBackAllUsers {
    background-color: rgb(11, 56, 46)  !important;
    color: whitesmoke  !important;
}

.BtnDeleteUser {
    background-color: rgb(221, 25, 25)  !important;
    color: whitesmoke;
}
.BtnDeleteUser:hover {
    background-color: darkred !important;
}

.BtnDeleteMarginLeft {
    margin-left: 555px  !important;
}

.MarginTop {
    margin-top: 10px  !important;
}

  
 