.HomeToolbar {
    background-color: #005f6a;  /* Verde Petrolio */
}

.Home {
    /* background-color: #81D8D0; Tiffany #81d8d0 */
    /*  background-color: #6bbbae; */
    background-color: #81d8d0;
    text-align: center;
    color: #005f6a;
}

.MarginLeftAuto {
    margin-left: auto;
}

.MarginRightAuto {
    margin-right: auto;
}

.BtnLoadUsers {
    background-color: blue;
    color: whitesmoke;
}


